.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--primary-text-color);
}

.error {
  .title {
    color: var(--red);
  }

  .text {
    color: var(--red);
  }
}
