.EmployeeList {
  display: grid;
  width: 100%;
  max-width: 1326px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (width < 1383px) {
  .EmployeeList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 932px) {
  .EmployeeList {
    grid-template-columns: 1fr;
  }
}

@media screen and (width <= 680px) {
  .employeeStatus {
    width: 100%;

    button {
      min-width: unset;
    }
  }
}
