.EmployeesFilter {
  display: flex;
  flex: 1;
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  padding: 16px;
  gap: 16px;
  align-items: center;
}

@media screen and (width <= var(--screen-size-s)) {
  .EmployeesFilter {
    flex-direction: column;
  }

  .searchText {
    width: 100%;

    div {
      flex-direction: row-reverse;
      min-width: unset;
    }
  }

  .divider {
    display: none;
  }

  .statusFilter {
    width: 100%;

    button {
      min-width: unset;
    }
  }
}

