.CreateUserForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.formHeader {
  font-weight: bold;
  padding-bottom: 8px;
}

.divider {
  margin-bottom: 16px;
}

.input {
  margin-top: 10px;
}

.btnContainer {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}
