.actions {
  display: flex;
  gap: 8px;
}

.content {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

@media screen and (width < var(--screen-size-l)) {
  .content {
    margin-top: 20px;
  }
}

@media screen and (width <= var(--screen-size-s)) {
  .actions {
    flex-direction: column;
  }

  .content {
    margin-top: 8px;
  }
}
