.app_dark_theme {
  --primary-color: #fefeff;
  --inverted-primary-color: #171717;
  --primary-bg-color: #121212;
  --secondary-bg-color: #000;
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #a3a3a3;
  --primary-shadow: 0 0 4px rgb(65 65 65);
  --secondary-shadow: 0 4px 20px rgb(65 65 65);
  --overlay-color: rgb(255 255 255 / 30%);
  --skeleton-color: #a3a3a3;
}
