:root {
  --primary-color: #38adf3;
  --inverted-primary-color: #fff;
  --primary-bg-color: #f5f7fa;
  --secondary-bg-color: #fff;
  --primary-text-color: #333;
  --secondary-text-color:  #8d8c8c;
  --primary-shadow: 0 2px 4px rgb(0 0 0 15%);
  --secondary-shadow: 0 4px 20px rgb(0 0 0 / 30%);
  --overlay-color: rgb(0 0 0 / 60%);
  --skeleton-color: #99cfef;
}
